node_modules
**/node_modules
.git
.turbo
**/.turbo
.next
**/.next
dist
**/dist
.expo
**/.expo
android
ios
apps/api/uploads
*.log
coverage
.env
.env.local
.env.*.local
.env.local-install
apps/api/.env
apps/web/.env*
apps/mobile/.env*
